.cart-container {
  margin: 0 auto;
  padding: 50px 0;
}

.cart-container ul {
  list-style: none;
}

.cart-container ul li {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 2px solid #e9e6e6;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.cart-container ul li img {
  height: 100px;
}

.cart-container ul li div {
  display: flex;
  padding: 5px;
}

.cart-container ul li div input {
  border: 1px solid #e9e6e6;
  padding: 5px;
  margin: 10px;
  width: 60px;
}

button {
  background: none;
  border: none;
}

footer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  float: right;
}

footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  margin-top: 20px;
}

strong,
p,
span {
  font-size: 15px;
}

footer div span {
  font-size: 20px;
}

footer div strong {
  font-size: 20px;
}

footer Button {
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 400px;
  margin-top: 20px;
}
