#titulo,
h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 30px;
}

.client {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.client input {
  height: 40px;
}

.address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

form input {
  height: 40px;
  font-size: 16px;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 10px;
}

form #label {
  margin-top: 30px;
  text-align: left;
}

.shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.shipping select {
  height: 40px;
  width: 70%;
  border-radius: 4px;
  margin-top: 30px;
  border: 1px solid #ececec;
  padding: 10px;
  float: left;
  font-size: 15px;
}

.shipping #frete {
  font-size: 18px;
  font-weight: bold;
  align-content: center;
  margin-right: 20px;
  margin-top: 30px;
}

.payment {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.payment select {
  height: 40px;
  width: 70%;
  border: 1px solid #ececec;
  padding: 5px;
  font-size: 15px;
}

.cartao {
  display: grid;
  margin-top: 20px;
}

.cartao div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.cartao strong {
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
}

.boleto {
  display: grid;
  margin-top: 20px;
}

.boleto strong {
  font-size: 18px;
  text-align: left;
  height: 60px;
}

form Button {
  margin-top: 40px;
  margin-bottom: 50px;
  height: 40px;
  width: 200px;
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
